name: eSTS errors

on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: write # committing
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.x
          cache: pip
      - run: |
          pip install -r requirements.txt
          pip install beautifulsoup4==4.13.3
      - run: python ests-errors.py
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: Change detected
